/*==============================================================================
                                    BASE
==============================================================================*/
.callout-box
{
    --color: 0, 0%;

    box-sizing: border-box;
    font-size: 100%;
    margin: 1em 0;
    position: relative;
    width: 100%;
    border: 1px solid;
    padding: 1em 1em 1em 3.5em;
    border-radius: 0.5em;

    color: hsl(var(--color), 40%);
    background-color: hsl(var(--color), 85%);
    border-color: hsl(var(--color), 60%);
}

.callout-box *:last-child
{
    margin-bottom: 0;
}


/*==============================================================================
                                    THEMES
==============================================================================*/
.callout-box.cob_tip
{
    /*color: hsl(86, 75%, 60%)*/
    --color: 86, 75%;
}

.callout-box.cob_info
{
    /*color: hsl(0, 0%, 60%);*/
    --color: 0, 0%;
}

.callout-box.cob_note
{
    /*color: hsl(46, 75%, 60%);*/
    --color: 46, 75%;
}

.callout-box.cob_warn
{
    /*color: hsl(0, 75%, 60%);*/
    --color: 0, 75%;
}


/*==============================================================================
                                    SIZE
==============================================================================*/
.callout-box.cob_hide::before
{
    display: none;
}

.callout-box.cob_small::before
{
    font-size: 75% !important;
}

.callout-box.cob_normal::before
{
    font-size: 120% !important;
}

.callout-box.cob_big::before
{
    font-size: 200% !important;
}


/*==============================================================================
                                    ICONS
==============================================================================*/

/* FontAwesome */
.callout-box::before
{
    width: 1em;
    text-align: center;
    font-family: FontAwesome;
    line-height: 0 !important;
    position: absolute;
    top: 50%;
    left: 1em;
}

.callout-box.cob_tip::before
{
    content: "\f00c";
}

.callout-box.cob_info::before
{
    content: "\f129";
}

.callout-box.cob_note::before
{
    content: "\f12a";
}

.callout-box.cob_warn::before
{
    content: "\f00d";
}
